numpy>2.0
scipy
Cython
tqdm
powerlaw
tensorflow
torch>=2.0.1  
pandas
spacy
scikit-learn
scipy
#augmentation
seaborn
statsmodels
transformers
huggingface-hub
requests
networkx
python-louvain
tenacity 
textstat 
beautifulsoup4 