numpy<2.0
scipy
Cython
tqdm
powerlaw
tensorflow>=2.0.0,<=2.12.0
torch>=2.0.1  
pandas
spacy
scikit-learn
scipy
#augmentation
seaborn
statsmodels
transformers
huggingface-hub
requests
networkx
python-louvain
tenacity 
textstat 
beautifulsoup4 